albumentations==1.1.0
ipykernel==6.9.1
ipywidgets==7.6.5
jupyter-client==7.1.2
jupyter-core==4.9.2
kaggle==1.5.12
matplotlib==3.5.1
numpy==1.22.2
opencv-python==4.5.5.62
pandas==1.4.1
plotly==5.6.0
pytorch-lightning==1.5.10
scikit-learn==1.0.2
timm==0.5.4
torch==1.10.2
torchvision==0.11.3
tqdm==4.62.3
wandb==0.12.10
